// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'fonts';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Components
@import 'components.scss';


// font family

.hyper-helix{
    font-family: HyperHelix;
}

.savec{
    font-family: savec;
    letter-spacing: .1em;
}


// text color

.text-light-color{
    color: $light-color;
}

.text-heavy-color{
    color: $heavy-color;
}

.text-dim-color{
    color: $dim-color;
}

.text-dark-color{
    color: $dark-color;
}

.text-white-color{
    color: $white-color;
}



// background color

.background-light{
    background-color: $light-color;
}

.background-heavy{
    background-color: $heavy-color;
}

.background-dim{
    background-color: $dim-color;
}

.background-dark{
    background-color: $dark-color;
}

.background-white{
    background-color: $white-color;
}

// styles

.text-display{
    font-size: 4rem;
}

.text-h1{
    font-size: 3rem;
}

.text-h2{
    font-size: 2.25rem;
}

.text-h3{
    font-size: 1.75rem;
}

.error-container{
    height: 40vh;
}

.pagination-indecator{
    border: solid $light-color 3px;
    border-radius: 15px;
    width: 50px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}