// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'fonts';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Components
@import 'components.scss';


// font family

.hyper-helix{
    font-family: HyperHelix;
}

.savec{
    font-family: savec;
    letter-spacing: .1em;
}


// text color

.text-light-color{
    color: $light-color;
}

.text-heavy-color{
    color: $heavy-color;
}

.text-dim-color{
    color: $dim-color;
}

.text-dark-color{
    color: $dark-color;
}

.text-white-color{
    color: $white-color;
}



// background color

.background-light{
    background-color: $light-color;
}

.background-heavy{
    background-color: $heavy-color;
}

.background-dim{
    background-color: $dim-color;
}

.background-dark{
    background-color: $dark-color;
}

.background-white{
    background-color: $white-color;
}

// styles

body{
    ::-moz-selection { /* Code for Firefox */
        color: $white-color;
        background: $dim-color;
    }
      
    ::selection {
        color: $white-color;
        background: $dim-color;
    }
    
    color: $white-color;    
}

.text-display{
    font-size: 4rem;
}

.text-h1{
    font-size: 3rem;
}

.text-h2{
    font-size: 2.25rem;
}

.text-h3{
    font-size: 1.75rem;
}

.error-container{
    height: 40vh;
}

.pagination-indecator{
    border: solid $light-color 3px;
    border-radius: 15px;
    width: 50px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    font-family: HyperHelix;
    color: $light-color!important;
}

input:focus{
    border-color: $light-color!important;
    box-shadow: 0 0 0 0.25rem rgb(8 138 87 / 25%)!important;
}

::-webkit-calendar-picker-indicator{
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%2300FC92" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.loading-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.backdrop{
    background-color: $dark-color;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loading-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    #mahmoudtr-glowing-link{
        #background-1{
            animation: background-color-change 5s infinite ease-in-out;
        }
        #background-2{
            animation: circle-color-change 5s infinite ease-in-out;
        }
        #background-3{
            animation: circle-color-change 5s infinite ease-in-out;
        }
        #MTR{
            path{
                animation: logo-color-change 5s infinite ease-in-out;
            }
        }
    }
}

/* Animations */

@-moz-keyframes background-color-change { 
    20% { fill: #111119; }
    60% { fill: #111119; }
    65% { fill: #0F2825; }
    70% { fill: #0A8858; }
    75% { fill: #00FC92; }
}
@-webkit-keyframes background-color-change { 
    20% { fill: #111119; }
    60% { fill: #111119; }
    65% { fill: #0F2825; }
    70% { fill: #0A8858; }
    75% { fill: #00FC92; }
}
@keyframes background-color-change { 
    20% { fill: #111119; }
    60% { fill: #111119; }
    65% { fill: #0F2825; }
    70% { fill: #0A8858; }
    75% { fill: #00FC92; }
}

@-moz-keyframes circle-color-change { 
    5% { fill: #0A8858; }
    10% { fill: #00FC92; }
    15% { fill: #0F2825; }
    20% { fill: #111119; }
    70% { fill: #111119; }
    75% { fill: #0F2825; }
    80% { fill: #0A8858; }
    90% { fill: #00FC92; }
}
@-webkit-keyframes circle-color-change { 
    5% { fill: #0A8858; }
    10% { fill: #00FC92; }
    15% { fill: #0F2825; }
    20% { fill: #111119; }
    70% { fill: #111119; }
    75% { fill: #0F2825; }
    80% { fill: #0A8858; }
    90% { fill: #00FC92; }
}
@keyframes circle-color-change { 
    5% { fill: #0A8858; }
    10% { fill: #00FC92; }
    15% { fill: #0F2825; }
    20% { fill: #111119; }
    70% { fill: #111119; }
    75% { fill: #0F2825; }
    80% { fill: #0A8858; }
    90% { fill: #00FC92; }
}

@-moz-keyframes logo-color-change { 
    30% { fill: #00FC92; }
    35% { fill: #0A8858; }
    40% { fill: #0F2825; }
    45% { fill: #0A8858; }
    50% { fill: #00FC92; }
    60% { fill: #00FC92; }
    65% { fill: #0A8858; }
    70% { fill: #0F2825; }
    75% { fill: #111119; }
}
@-webkit-keyframes logo-color-change { 
    30% { fill: #00FC92; }
    35% { fill: #0A8858; }
    40% { fill: #0F2825; }
    45% { fill: #0A8858; }
    50% { fill: #00FC92; }
    60% { fill: #00FC92; }
    65% { fill: #0A8858; }
    70% { fill: #0F2825; }
    75% { fill: #111119; }
}
@keyframes logo-color-change { 
    30% { fill: #00FC92; }
    35% { fill: #0A8858; }
    40% { fill: #0F2825; }
    45% { fill: #0A8858; }
    50% { fill: #00FC92; }
    60% { fill: #00FC92; }
    65% { fill: #0A8858; }
    70% { fill: #0F2825; }
    75% { fill: #111119; }
}

.loading-screen-fade{
    display: none;
}

.form-check-input[type=checkbox] {
    border-color: $light-color!important;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    background-color: $dim-color;
}