// gloab 

#gloab{
    background-color: red;
}

#outer-orbit-1, #outer-orbit-2{
    transform-origin: center;
    animation: outer-orbit-rotate 5s infinite;
}

#orbit-1, #orbit-2{
    transform-origin: center;
    animation: inner-orbit-rotate 3s infinite linear;
}

#orbit-3{
    transform-origin: center;
    animation: inner-orbit-reverse-rotate 3s infinite linear;
}

.gloab-container{
    position: relative;
    width: 300px;
    height: 300px;
}

.gloab-text{
    color: white;
    font-family: Hyper heliX;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


/* Animations */

@-moz-keyframes outer-orbit-rotate { 
    40% { -webkit-transform: rotate(360deg); } 
    75% { -webkit-transform: rotate(360deg); } 
    90% { -webkit-transform: rotate(0deg); } 
    100% { -webkit-transform: rotate(0deg); } 
}
@-webkit-keyframes outer-orbit-rotate { 
    40% { -webkit-transform: rotate(360deg); } 
    75% { -webkit-transform: rotate(360deg); } 
    90% { -webkit-transform: rotate(0deg); } 
    100% { -webkit-transform: rotate(0deg); } 
}
@keyframes outer-orbit-rotate { 
    40% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    }
    75% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    }
    90% { 
        -webkit-transform: rotate(0deg); 
        transform:rotate(0deg); 
    }
    100% { 
        -webkit-transform: rotate(0deg); 
        transform:rotate(0deg); 
    } 
}

@-moz-keyframes inner-orbit-rotate { 
    100% { -webkit-transform: rotate(360deg); } 
}
@-webkit-keyframes inner-orbit-rotate { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes inner-orbit-rotate { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@-moz-keyframes inner-orbit-reverse-rotate { 
    100% { -webkit-transform: rotate(-360deg); } 
}
@-webkit-keyframes inner-orbit-reverse-rotate { 
    100% { -webkit-transform: rotate(-360deg); } 
}
@keyframes inner-orbit-reverse-rotate { 
    100% { 
        -webkit-transform: rotate(-360deg); 
        transform:rotate(-360deg); 
    } 
}

// button

$button-width: 180px;
$button-height: 60px;

.button{
    width: $button-width;
    height: $button-height;
    border: none;
    background-color: transparent;
}

.button:active path{
    stroke:#27AE5F;
}

.button-container{
    position: relative;
    display: inline-block;
    width: $button-width;
    height: $button-height;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.button-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #00FC92;
    font-family: Hyper heliX;
}

// special button (arrows button)
$arrow-button-width: 281px;
$arrow-button-height: 60px;
#arrows-button{
    width: $arrow-button-width;
    height: $arrow-button-height;
    border: none;
    background-color: transparent;
}

.arrow-button-container{
    position: relative;
    display: inline-block;
    width: $arrow-button-width;
    height: $arrow-button-height;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.arrow-button-container:active path{
    stroke:#27AE5F;
}

.arrow-button-container:hover #left-arrow-1,
.arrow-button-container:hover #right-arrow-1{
    animation: first-arrow-color-change 1s infinite linear;;
}

.arrow-button-container:hover #left-arrow-2,
.arrow-button-container:hover #right-arrow-2{
    animation: first-arrow-color-change 1s infinite linear;;
}


.button-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #00FC92;
    font-family: Hyper heliX;
}

/* Animations */

@-moz-keyframes first-arrow-color-change { 
    20% { stroke: #00FC92; }
    40% { stroke: #0A8858; }
    60% { stroke: #0F2825; }
}
@-webkit-keyframes first-arrow-color-change { 
    20% { stroke: #00FC92; }
    40% { stroke: #0A8858; }
    60% { stroke: #0F2825; }
}
@keyframes first-arrow-color-change { 
    20% { stroke: #00FC92; }
    40% { stroke: #0A8858; }
    60% { stroke: #0F2825; }
}

@-moz-keyframes second-arrow-color-change { 
    40% { stroke: #00FC92; } 
    80% { stroke: #0A8858; }
}
@-webkit-keyframes second-arrow-color-change { 
    40% { stroke: #00FC92; } 
    80% { stroke: #0A8858; }
}
@keyframes second-arrow-color-change { 
    40% { stroke: #00FC92; } 
    80% { stroke: #0A8858; } 
}