// display board
$display-board-width: 300px;
$display-board-width-medium: 500px;
$display-board-width-large: 800px;


.display-container{
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .board-svg{
        width: $display-board-width;
    }
    #top-right-corner path,
    #top-left-corner path,
    #bottom-right-corner path,
    #bottom-left-corner path{
        animation: corner-color-change 1s infinite linear;
    }

    .displayboard-img{
        position: absolute;
        top: 169px;
        left: 23px;
        img{
            width: 254px;
            height: 129px;
            border: #00FC92 solid 1px;
        }
    }
}



/* Animations */

@-moz-keyframes corner-color-change { 
    30% { fill:#00FC92; }
    60% { fill:#0A8858; }
    90% { fill:#0F2825; }
}
@-webkit-keyframes corner-color-change { 
    30% { fill:#00FC92; }
    60% { fill:#0A8858; }
    90% { fill:#0F2825; }
}
@keyframes corner-color-change { 
    30% { fill:#00FC92; }
    60% { fill:#0A8858; }
    90% { fill:#0F2825; }
}

// for medium screens

@media (min-width: 768px){
    .display-container{
        .board-svg{
            width: $display-board-width-medium;
        }
        .displayboard-img{
            top: 127px;
            left: 38px;
            img{
                width: 423px;
                height: 215px;
            }
        }
    }
}

// for large screens

@media (min-width: 992px){
    .display-container{
        .board-svg{
            width: $display-board-width-large;
        }

        .displayboard-img{
            top: 62px;
            left: 61px;
            img{
                width: 678px;
                height: 345px;
            }
        }
    }
}